.blue-bg-color{
    background-color: #03588C !important;
}

.bg-bg-color{
    background-color: #874CCC !important;
}

.avatar-img {
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.skill-img {
    max-width: 6em;
    object-fit: cover;
}