/* Reset padding và margin cho tất cả các phần tử */
* {
    margin: 0;
    padding: 0;
}

/* Thêm các thuộc tính box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Nếu bạn muốn cố định font-size */
html {
    font-size: 16px;
}

.avatar-img {
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.skill-img {
    max-width: 6em;
    object-fit: cover;
}